
  


  <nav class="navbar">
    <div class="logo">🔥 Firebase Admin</div>
    <div class="menu-toggle" onclick="toggleMenu()">☰</div>
    <ul id="nav-links">
      <li><a href="/">Dashboard</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/pushnotification">Push Notification Send</a></li>
      <li class="dropdown">
        <a href="#" onclick="toggleDropdown(event)">More ▾</a>
        <div class="dropdown-content" id="dropdown-menu">
          <a href="/settings">Settings</a>
          <a href="/logout">Logout</a>
        </div>
      </li>
    </ul>
  </nav>

  
